<!-- fluid container begin -->
<div class="container-fluid jumbotron col-xs-12 col-sm-12">
	<!-- row fluid begin -->
	<div class="row-fluid">
		<!-- Use the custom Carousel directive -->
		<image-carousel></image-carousel>
		<!-- carousel end -->
		<!-- main page heading -->
		<h1>{{ title }}</h1>
		<!-- Body content -->
		<div id="body-content">
			<!-- display (inject) our content in the browser -->
			<p>
				Welcome to our fan site. Here you can browse our latest music videos, this can be found on our search iTunes page, and of course you can also search i-tunes there to buy our music.
				You can also meet the band members and read more about what instruments we play, and more about us in general. We also have tons of tour pictures on display for you to look at.
				If you like us we are also available for bookings for weddings, corporate events, birthdays, you name it. So feel free to book us using the contact form. We also have tour dates and
				tickets for sale if you would like to see us live on stage. We hope you enjoy our site and visit back often.
			</p>
		</div>
		<!-- body-content end -->
	</div>
	<!-- fluid row end -->
</div>
<!-- fluid container end -->
