<!-- fluid container begin -->
<div class="container-fluid jumbotron col-xs-12">
	<!-- row fluid begin -->
	<div class="row-fluid">
		<!-- Heading 1 -->
		<h1>Weddings</h1>
		<!-- weddings begin -->
		<div>
			<img src="img/services/wedding-1.jpg" class="img-thumbnail img-responsive" alt="Wedding Events" />
			<p class="booking-info">If you would like to receive more info or book a wedding please use the form below.</p>
		</div>
		<!-- weddings end -->
	</div>
	<!-- fluid row end -->
</div>
<!-- fluid container end -->
<!-- fluid container begin -->
<div class="container-fluid jumbotron col-xs-12">
	<!-- row fluid begin -->
	<div class="row-fluid">
		<!-- Heading 2 -->
		<h1>Corporate Events</h1>
		<!-- Corporate begin -->
		<div>
			<img src="img/services/corporate-1.jpg" class="img-thumbnail img-responsive" alt="Corporate Events" />
			<p class="booking-info">We cater for all your corporate events, use the form below to contact us or to book us.</p>
		</div>
		<!-- corporate end -->
	</div>
	<!-- fluid row end -->
</div>
<!-- fluid container end -->
<!-- fluid container begin -->
<div class="container-fluid jumbotron col-xs-12 col-sm-12">
	<!-- row fluid begin -->
	<div class="row-fluid">
		<!-- fieldset begin -->
		<fieldset>
			<!-- form heading -->
			<legend>{{ title }}</legend>
			<!-- form begin -->
			<form data-ng-controller="ContactController" class="form-horizontal">
				<!-- input groups begin -->
				<div class="form-group contact-form">
					<label for="firstName">{{ firstNameLabel }}</label>
					<div>
						<input data-ng-model="collectFormData.FirstName" class="form-control" id="firstName" placeholder="First Name" required>
					</div>
					<span data-ng-show="firstNameRequired" class="validation-span">{{firstNameRequired}}</span>
				</div>
				<div class="form-group contact-form">
					<label for="lastName">{{ lastNameLabel }}</label>
					<div>
						<input data-ng-model="collectFormData.LastName" class="form-control" id="lastName" placeholder="Last Name" required>
					</div>
					<span data-ng-show="lastNameRequired" class="validation-span">{{lastNameRequired}}</span>
				</div>
				<div class="form-group contact-form">
					<label for="email">{{ emailLabel }}</label>
					<div>
						<input data-ng-model="collectFormData.Email" class="form-control" id="email" placeholder="you're@awesome.com" required>
					</div>
					<span data-ng-show="emailRequired" class="validation-span">{{ emailRequired }}</span>
				</div>
				<div class="form-group contact-form">
					<label for="message-box">{{ messageLabel }}</label>
					<div>
						<textarea data-ng-model="collectFormData.Message" class="form-control" id="message-box" rows="5" cols="50" placeholder="your message here..."></textarea>
					</div>
					<div id="submit-btn">
						<button data-ng-click="storeFormData()" type="reset" class="btn-lg btn-warning">Submit</button>
					</div>
				</div>
				<!-- input groups end -->

				<!-- For Testing: shows input in browser page for testing input works
                    <span>{{collectFormData}}</span>
				-->

			</form>
			<!-- form end -->
		</fieldset>
		<!-- fieldset end -->
	</div>
	<!-- fluid row end -->
</div>
<!-- fluid container end -->
<!-- fluid container begin -->
<div class="container-fluid jumbotron col-xs-12">
	<!-- row fluid begin -->
	<div class="row-fluid">
		<!-- map heading -->
		<h1>Where to find us</h1>
		<!-- map begin -->
		<div id="googleMap"></div>
		<!-- map end -->
	</div>
	<!-- fluid row end -->
</div>
<!-- fluid container end -->
